*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --misura-container: 80vh;
}

body{
    background-color: #011627;
}

/* bottone gioca */

header{
    margin: 1% 0;
    color: #7fffd4;
    font-size: 20px;
    text-align: center;
}

button{
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
    color: #7fffd4;
    border-radius: 15px;
    transition: 0.2s linear;
}

select{
    margin: 20px 0;
    text-align: center;
    color: rgb(168, 81, 255);
    border-radius: 10px;
    font-weight: 700;
}

.form-style{
    padding: 5px 20px;
    border: 2px solid #7fffd4;
    background-color: transparent;
}

button:hover{
    color: rgb(168, 81, 255);
}

.vanish{
    display: none;
}

/* container delle box */
.container{
    margin: 2% auto;
    height: var(--misura-container);
    width: var(--misura-container);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* box */
.box{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid white;
    color: white;
}

.box-difficulty2{
    height: calc(100% / 9);
    width: calc(100% / 9);
    border: 1px solid white;
    color: white;
}

.box-difficulty3{
    height: calc(100% / 7);
    width: calc(100% / 7);
    border: 1px solid white;
    color: white;
}

.clicked{
    background-color: #7fffd4;
    color: black;
}